@font-face {
	font-family: 'Sertig';
	src: url('fonts/Sertig.ttf')  format('truetype');
}

@font-face {
	font-family: 'Bebas';
	src: url('fonts/Bebas.ttf')  format('truetype');
}

.hidden {
	display: none;
}

.orange {
	color: #EA7C39;
	font-size: 15px;
	font-family: 'Bebas';
}

.bold {
	font-weight: bold;
}

.border-bottom {	
	border-bottom: 1px solid #ccc;
}

header {
	width: 950px;
	margin: 0 auto;
	padding: 18px 30px 24px 35px;

}

header nav {
	display: inline-block;
	margin: 0 0 0 195px;
} 

header nav li {
	float: left;
	margin-right: 16px;

}

header nav li a {
	display: inline-block;
	padding: 5px;
	color: #5a5a5a;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Sertig';
	border: 1px solid transparent;
	text-shadow: #ddd 1px 1px 1px;
	text-decoration: none;
}

header nav li a.active {
	color: #ea7c39;
}

header nav li a:hover {
	border: 1px solid #ddd;
	background-color: #f8f8f8;
}

.body {
	width: 1000px;
	padding: 24px 0 37px;
	overflow: hidden;
	margin: 0 auto;
}

.body .column-left {
	float: left;
	width: 660px;
	padding-left: 25px;
}

.body .column-right {
	float: right;
	width: 300px;
}

.games-navigation {
	overflow: hidden;
	padding-left: 10px;
}

.sorting a {
	display: inline-block;
	color: #818181;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dashed #818181;
	padding-bottom: 1px;
	margin-right: 22px;
	line-height: 9px;
}

.sorting a:hover {
	border-bottom: none;	
}

.sorting a.active {
	color: #ff6100;
	border: none;
}

input.search {
	float: right;
	color: #aba8a8;
	font-family: Arial;
	font-size: 12px;
	border: 1px solid #dadada;
	background: #f0f0f0 url(img/zoom.png) no-repeat 185px center;
	width: 175px;
	padding: 3px 20px 1px 5px;
	margin-right: 48px;
}

.games-list {
	overflow: hidden;
	list-style-type: none;
	padding: 0;
	margin: 24px 0 0 0;
}

.games-list li {
	width: 180px;
	float: left;
	padding: 0;
	margin: 0;
	margin: 0 40px 18px 0;
	overflow: hidden;
}

.games-list .img {
	width: 150px;
	height: 86px;
	padding: 10px 10px 7px 10px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
}

.games-list .img:hover {
	border: 1px solid #ea7c39;
	background-color: #f1b18a;
	cursor: pointer;
}

.games-list .name {
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	color: #ff6101;
	font-size: 12px;
	font-family: arial;
	text-decoration: underline;
	margin: 5px 10px 4px;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}

.games-list .rating {
	float: left;
	width: 65px;
	margin-left: 10px;	

}

.games-list .views {
	margin-left: 65px;
	text-align: right;
	font-size: 10px;
	color: #5a5a5a;
	font-family: arial;
	margin: -1px 15px 0;
}

.pagination {
	margin-top: 7px;
	padding: 0;	
	width: 610px;
}

.pages-control {
	float: left;
	width: 20%;
	height: 30px;
	display: inline-block;
}

.pages-control.list {
	width: 60%;
	text-align: center;
	font-size: 11px;
	padding-top: 10px;
}

.pages-control.list a {
	text-decoration: none;
	margin: 0px 10px;
	padding: 7px;
	color: #000;
}

.pages-control.list a:hover {
	background-color: #f1b18a;
}

.pages-control.list a.active {
    border: 1px solid #f1b18a;
}

.pages-control.next {
	text-align: right;
}

.page-button {
	background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    width: 46px;
    height: 20px;
    margin-top: 2px;
    padding-top: 6px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.page-button:hover {
	background-color: #f1b18a;
}

.horizontal-stats {
	font-size: 12px;	
	float: left;
	width: 212px;
	margin-bottom: 8px;
	padding-top: 10px;
}

.horizontal-stats-icon {
	margin: 0 0 6px;
	padding: 6px 0 7px 25px; 
}

.horizontal-stats-icon.girls {
	background: url(/img/icon_girls.png) no-repeat;
}

.horizontal-stats-icon.boys {
	background: url(/img/icon_boys.png) no-repeat;
}
.horizontal-stats-icon.none {
	padding-left: 0;
}

.caption-type {
	font-weight: bold;
}

.caption-type.boys {
	margin-left: 5px;
}

.bottom-stats {
	float: left;
}

.text-stats {
	font-size: 11px;
	margin: 8px 0 0;
}

.text-stats .total {
	font-size: 13px;
}

.top-played-chart-name {
	margin: 41px 0 0 1px;
	font-size: 12px;
}

#container_games {
	margin-bottom: -10px;
}

#container_gamesPlayedChartStats,
#container_worldMapStats {
	height: 220px;
	margin-bottom: 26px;
}

#raphael_canvas_gamesPlayedChartStats {
	width: 220px;
	height: 180px;
}

#raphael_canvas_worldMapStats {
	width: 428px;
	height: 275px;
	margin-top: 50px;
}

.banners {
	float: left;
	padding: 18px 0 0 7px;
	margin-bottom: -13px;
}

.banners div {	
	margin-bottom: 5px;
}

.banners .left {
	float: left;
	margin-right: 9px;
}

.fight-header {
	font-family: 'Bebas', Arial, sans-serif;
	margin-left: 3px;
}

.fight-header .logo {
	font-size: 18px;
	font-weight: bold;
}

.fight-header .caption {
	margin-left: 10px;
	font-size: 15px;
	position: relative;
	top: -3px;
	color: #505050;
}

.social-logo {
	display: inline-block;
	margin: 0 5px;	
	position: relative;
}

.social-logo.letter-g {
	top: 10px;
	margin: 0 4px 0 3px;
}

.social-logo.letter-t {
	margin: 0 0 0 3px;
}

.fight-social {
	margin-bottom: -5px;
}

.fight-social .upper {
	margin: 30px 0 0 2px;
}

.fight-social .lower {
	margin: 26px 0 0 8px;
}

footer {
	margin: 28px auto;
	width: 1000px;
}

footer div {
	font-size: 11px;
	color: #666;
	margin-bottom: 10px;
}

.company-name {
	float: left;
	padding-left: 35px;
}

.creator {
	float: right;
}

.since {
	margin-left: 5px;
}