@font-face {
	font-family: 'Sertig';
	src: url('fonts/Sertig.ttf')  format('truetype');
}

header {
	width: 950px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding: 15px 25px;

}

header nav {
	display: inline-block;
	margin: 0 0 0 150px;
}

header nav li {
	float: left;
	margin-right: 10px;

}

header nav li a {
	display: inline-block;
	padding: 5px;
	color: #5a5a5a;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Sertig';
	border: 1px solid transparent;
	text-shadow: #ddd 1px 1px 1px;
}

header nav li a.active {
	color: #ea7c39;
}

header nav li a:hover {
	border: 1px solid #ddd;
	background-color: #f8f8f8;
}

.body {
	width: 950px;
	padding: 15px 25px;
	overflow: hidden;
	margin: 0 auto;
}

.body .column-left {
	float: left;
	width: 670px;
}

.body .column-right {
	float: right;
	width: 280px;
}

.games-navigation {
	overflow: hidden;
}

.sorting a {
	display: inline-block;
	color: #818181;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dashed #818181;
	margin-right: 25px;
}

.sorting a:hover {
	border-bottom: none;	
}

.sorting a.active {
	color: #ff6100;
	border: none;
}

input.search {
	float: right;
	color: #aba8a8;
	font-family: Arial;
	font-size: 11px;
	border: 1px solid #dadada;
	background: #f0f0f0 url('/img/zoom.png') no-repeat 160px center;
	width: 150px;
	padding: 3px 20px 3px 5px;
	margin-right: 40px;
}

#games_list {
	overflow: hidden;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#games_list li {
	width: 180px;
	float: left;
	padding: 0;
	margin: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	overflow: hidden;
}

#games_list .img {
	width: 150px;
	height: 86px;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
}

#games_list .img:hover {
	border: 1px solid #ea7c39;
	background-color: #f1b18a;
	cursor: pointer;
}

#games_list .name {
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	color: #ff6101;
	font-size: 12px;
	font-family: arial;
	text-align: center;
	text-decoration: underline;
	margin: 5px 10px;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}

#games_list .rating {
	float: left;
	width: 65px;
	margin-left: 10px;	

}

#games_list .views {
	margin-left: 65px;
	text-align: right;
	font-size: 10px;
	color: #5a5a5a;
	font-family: arial;
	margin-right: 15px;
}








